.gyms-wrapper {
  display: flex;
  flex-wrap: wrap; }
  .gyms-wrapper .single-gym-wrapper {
    background: #2196F3;
    padding: 10px;
    margin: 10px; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

#mainNav {
  background-color: #212529; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #fe000d;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif; }
  #mainNav .navbar-brand {
    color: #fe000d;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #cb000a; }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif; }
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #fe000d; }

.home-wrapper {
  text-align: center; }
  .home-wrapper .home-header {
    background: url("../img/kb1.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
